# Git
.git
.gitignore
.gitattributes
.github

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/.mypy_cache/


# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/

# Tests
**/.pytest_cache/
**/tests/


# Files
.pre-commit-config.yaml
env.example
app/